<main class="holder contacto">
        {{#if conocido}}
                <div class="datos">
                    <h2>Datos de solicitud de contacto</h2>
                    <p>{{saludoPeticion}}</p>
                        <ul>
                            <li>Teléfono: {{telefono}}</li>
                            <li>Email: {{email}}</li>
                            <li>Mensaje: {{mensaje}}</li>
                        </ul>
                </div>
        {{else}}
                <div>
                    <h2>Iniciar sesión</h2>
                    <form action="peticion" method="POST" class="formulario">
                        <p>
                            <label for="nombre" required>Nombre</label>
                            <input type="text" name="nombre">
                        </p>
                        <p>
                            <label for="email" required >Email</label>
                            <input type="text" name="email">
                        </p>
                        <p>
                            <label for="telefono" required>Telefono</label>
                            <input type="text" name="telefono">
                        </p>
                        <p>
                            <label for="mensaje">Mensaje</label>
                            <textarea name="mensaje" required></textarea>
                        </p>
                        <p>
                            <input type="submit" value="Enviar">
                        </p>
                    </form>
                </div>
                <div class="datos">
                    <h2>Otras vias de comunicación</h2>
                    <p>También puede contactarse con nosotros usando los siguientes medios</p>
                        <ul>
                            <li>Teléfono: 2664681863</li>
                            <li>Email: hconstante@runaid.com.ar</li>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Discord</li>
                        </ul>
                </div>
        {{/if}}
    </main>