<div class="container" style="margin:50px auto;">
    {{!-- Fila 1--}}
    <div class="row">
        <div class="col">
            <h5 style="margin-top:15px;" class="text-right">Hola {{usuario}}</h5>
        </div>
    </div>
    {{!-- Fila 2--}}
    <div class="row">
        <div class="col-7">
            <h3>Listado de Novedades</h3>
        </div>
        <div class="col-5 text-end">
            <a class="btn btn-success" href="/admin/novedades/agregar"><i class="fa fa-
            plus" aria-hidden="true"></i>Nuevo</a>
        </div>
    </div>
    {{!-- Fila 3--}}
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Titulo</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr id="{{id}}">
                        <th scope="row">{{titulo}}</th>
                        <td class="text-center">
                            <a class="btn btn-sm btn-secondary" href="/admin/novedades/modificar/{{id}}" title="Editar">
                            <i class="fa fa-pencil"></i></a>
                            <a class="btn btn-sm btn-secondary" href="/admin/novedades/eliminar/{{id}}" title="Eliminar">
                            <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>